@import "tailwindcss";

@theme {
  --color-primary: #005461;
  --color-secondary: #018790;
  --color-accent: #131818;
  --color-danger: #DC0000;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
