# Appointment Service Values
replicaCount: 2

image:
  repository: uby0/appointment-service
  tag: "latest"
  pullPolicy: Never

nameOverride: ""
fullnameOverride: "appointment-service"

service:
  type: ClusterIP
  port: 7000

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 80

resources:
  requests:
    cpu: "150m"
    memory: "128Mi"
  limits:
    cpu: "400m"
    memory: "512Mi"

# Environment variables (?)

# Secrets (?)