volumes:
  gateway_src:
   driver: local
   driver_opts:
     type: none
     device: ./backend/gateway
     o: bind
  nginx_src:
   driver: local
   driver_opts:
     type: none
     device: ../frontend/vet-appointment/dist
     o: bind

services:
  gateway:
    container_name: gateway
    build: ./backend/gateway
    restart: on-failure
    ports:
      - "3001:3001"
    volumes:
      - gateway_src:/app
      - /app/node_modules

  nginx:
    container_name: nginx
    build: ./nginx
    restart: on-failure
    ports:
      - "3131:3131"
    volumes:
      - nginx_src:/usr/share/nginx/html
